DB_HOST=localhost
DB_PORT=5432
DB_NAME=peminjaman_alat
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgres://user:password@hostname:port/dbname
NEXT_PUBLIC_SUPABASE_URL=https://pqncmccllyucngkcxhie.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBxbmNtY2NsbHl1Y25na2N4aGllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NzY3OTAsImV4cCI6MjA4NzM1Mjc5MH0.lelRJNxpTIqp6phankb8KyeZcWEBqYN1xpCQMr5jJc0
